*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgb(116, 6, 135);
}

body {
  width: 100vw;
  font-size: 15px;
  font-family: "Open Sans", serif;
  color: #000;
  border: 1px solid rgb(98, 255, 0);
}

/* section1 header navbar*/

.socialnw {
  background: #000;
  color: #fff;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0;
  justify-content: space-between;
}

.icons {
  display: flex;
}

.search {
  float: right;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.fa-facebook,
.fa-instagram,
.fa-snapchat,
.fa-flickr,
.fa-twitter,
.fa-linkedin {
  color: #fff;
  font-size: 16px;
  padding: 13px;
  margin-left: 0;
  margin-right: 0;
  transition: 0.3s ease-in-out;
}

.ico,
.div6followme ion-icon {
  color: #000000;
  font-size: 25px;
  padding: 1px;
  /* margin-left: 10px; */
  margin-right: 0;
  transition: 0.3s ease-in-out;
}

.icons ion-icon:hover {
  background-color: #f1f1f1;
  color: black;
}

.icon-search .search:hover {
  background-color: #f1f1f1;
  color: black;
  padding: auto;
}

/* section1 title */

.title {
  padding: 48px 16px;
  color: #000;
  text-align: center;
  height: 200px;
}

.title-head {
  margin: 10px;
  font-size: 48px;
  font-weight: 400;
  font-family: Oswald, sans-serif;
}

.title-desc {
  margin: 10px 0;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

p span {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 0 8px;
}

/* section1 picture of jane */

.pic-commented {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jane-img {
  vertical-align: middle;
  background-position-x: left;
  overflow-x: none;
  width: 100%;
}

.pict-desc {
  position: absolute;
  top: 35%;
  left: 30px;
  color: #fff;
}

.pict-title {
  font-size: 36px;
  font-family: Oswald, sans-serif;
  margin: 10px 0;
  letter-spacing: 5px;
}

.pict-title-desc {
  font-family: Oswald, sans-serif;
  font-size: 64px;
  margin: 10px 0;
}

footer p {
  margin-top: 50px;
  color: #fff;
}

.pict-desc p {
  font-family: Oswald, serif;
}

.btn {
  padding: 13px 25px;
  font-size: 17px;
  font-family: Oswald, serif;
  font-weight: bold;
  background: rgba(255 255 255 / 40%);
  border: none;
}

.btn a {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  background: #f1f1f1;
  opacity: 0.6;
}

/* section2 */

#sect2 {
  background: #f1f1f1;
  padding: 5px 10px;
}

.container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.col1 {
  flex-basis: 135%;
  margin: 10px 20px;
}

.girlhat-box {
  background-color: #fff;
  margin: 10px 0;
  padding: 25px;
}

.runway-head,
.blackhat-head,
.girlhat-head {
  text-align: center;
  font-weight: bold;
}

.runway-title,
.blackhat-title,
.girlhat-title {
  font-size: 24px;
  font-family: Oswald, serif;
  font-weight: 400;
}

.runway-desc,
.blackhat-desc,
.girlhat-desc {
  font-size: 18px;
  font-family: Oswald, serif;
  margin: 10px 0;
  font-weight: 500;
}

.lighter {
  background: #fff;
  color: black;
  opacity: 0.6;
}

.runway-img,
.blackhat-img,
.girlhat-img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gest-btn,
.gest-btn2,
.gest-btn3 {
  display: flex;
  justify-content: space-between;
}

.like-btn2,
.like-btn3 {
  border: 1px solid lightgray;
  padding: 12px 18px;
  font-weight: bold;
  background: #fff;
  margin: 50px 0;
  cursor: pointer;
  font-size: 16px;
}

.like-btn,
.replie-btn,
.replie-btn2,
.replie-btn3 {
  border: 1px solid lightgray;
  padding: 12px 18px;
  font-weight: bold;
  background: #fff;
  margin: 50px 0;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", serif;
}

/* .replie-btn2 {
  border: 1px solid lightgray;
  padding: 12px 18px;
  font-weight: bold;
  background: #fff;
  margin: 50px 0;
  cursor: pointer;
  font-size: 16px;
}

.replie-btn3 {
  border: 1px solid lightgray;
  padding: 12px 18px;
  font-weight: bold;
  background: #fff;
  margin: 50px 0;
  cursor: pointer;
  font-size: 16px;
} */

.like-btn:hover {
  color: #000 !important;
  background-color: #ccc;
}

.like-btn2:hover {
  color: #000;
  background-color: #ccc;
}

.like-btn3:hover {
  color: #000;
  background-color: #ccc;
}

.replie-bt,
.replie-bt2,
.replie-bt3 {
  background-color: #000;
  color: #fff;
  display: inline;
  font-weight: 300;
  font-size: 15px;
}

.replie-btn:hover {
  background-color: #ddd;
  color: #000;
}

.replie-btn2:hover {
  background-color: #ddd;
  color: #000;
}

.replie-btn3:hover {
  background-color: #ddd;
  color: #000;
}

.meter3,
.meter2,
.meter {
  background-color: #fff;
  color: #000;
  display: inline;
  text-align: left;
  padding: 3px 10px;
}

hr {
  opacity: 0.2;
}

.subdiv21,
.subdiv22,
.subdiv23,
.subdiv24,
.hide {
  display: flex;
  align-items: center;
}

.hid-img {
  width: 90px;
  height: 100px;
  margin-right: 30px;
  margin-top: 15px;
}

.hide h3 {
  font-size: 20px;
  font-family: Oswald, sans-serif;
  margin: 10px;
  font-weight: 400;
}

.lighter-15px {
  background: #fff;
  color: black;
  opacity: 0.6;
  font-size: 15px;
  font-family: Oswald, sans-serif;
}

.hide h4 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin: 15px 0;
  font-weight: 100;
}

.blackhat-box {
  background-color: #fff;
  margin-top: 40px;
  padding: 25px;
}

.runway-box {
  background-color: #fff;
  margin-top: 15px;
  padding: 25px;
}

footer {
  background-color: #616161;
  height: 160px;
  padding: 32px;
}

.totop {
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", serif;
  background-color: #000;
  margin: 0;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 80px;
}

.white-link {
  color: #fff;
}

.col2 {
  margin: 0 15px;
  width: 65%;
}

.div1 {
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 20px 0 15px;
}

.div1-img {
  width: 100%;
}

.div1-img img {
  width: 100%;
  height: 233px;
  margin: 0;
  vertical-align: middle;
  border-style: none;
  filter: grayscale(75%);
  padding: 0;
}

.avatar-desc-bgblack {
  font-size: 15px;
  font-weight: 295;
  padding: 15px;
}

.avatar-desc-bgblack h4 {
  margin-bottom: 26px;
  font-size: 20px;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.avatar-desc-bgblack p {
  font-family: "open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}

.div2 {
  background-color: #fff;
  color: #000;
  font-family: Oswald, sans-serif;
  padding: 0;
  margin: 40px 0;
}

.div2 h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
}

.subdiv21,
.subdiv22,
.subdiv23,
.subdiv24 {
  background-color: #fff;
  border-top: 1px solid lightgray;
  padding: 11px;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  display: flex;
  align-items: center;
}

.subdiv21 img {
  width: 50px;
  height: 60px;
  margin-right: 15px;
  margin-top: 10px;
}

.subdiv22 img {
  width: 50px;
  height: 60px;
  margin-right: 15px;
  margin-top: 10px;
}

.subdiv23 img {
  width: 50px;
  height: 60px;
  margin-right: 15px;
  margin-top: 10px;
}

.subdiv24 img {
  width: 50px;
  height: 60px;
  margin-right: 15px;
  margin-top: 10px;
}

.tit-desc {
  font-size: 18px;
  margin: 5px 0;
}

.tit-desc1 {
  font-family: Oswald, sans-serif;
  font-size: 15px;
}

.subdiv21:hover,
.subdiv22:hover,
.subdiv23:hover,
.subdiv24:hover {
  background-color: #ccc;
}

.div3 {
  background-color: #fff;
  color: #000;
  font-family: "open Sans", sans-serif;
  font-size: 15px;
  height: 250px;
  margin-bottom: 40px;
}

.div3 h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
  margin: 0;
  font-family: "open Sans", sans-serif;
}

.emptycontentads {
  height: 200px;
  color: #000;
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentemptyads {
  background-color: #fff;
  padding: 16px;
}

.div4 {
  /* background-color: #fff;
  color: #000; */
  font-family: Oswald, sans-serif;
  padding: 0;
  margin: 90px 0 100px;
  height: 180px;
}

.div4 h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
  font-family: Oswald, sans-serif;
}

.div4content1 {
  height: 100px;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px 0;
  row-gap: 20px;
  font-family: "Open Sans", serif;
  display: none;
}

.div4content4,
.div4content3,
.div4content2,
.div4content {
  height: 200px;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  row-gap: 20px;
  font-family: "Open Sans", serif;
}

.div4content3,
.div4content2 {
  display: none;
}

.content1,
.content2,
.content3 {
  display: flex;
  column-gap: 5px;
}

.content3,
.content2 {
  column-gap: 7px;
}

.div4content p {
  font-size: 13px;
}

.strong {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.div4content p strong {
  background-color: #000;
  color: #fff;
  padding: 2px 10px;
  font-size: 14px;
}

.div4content1 label {
  background-color: #f1f1f1;
  padding: 0 5px;
}

.div4content p label {
  background-color: #f1f1f1;
  padding: 0 5px;
}

.div5 {
  background-color: #fff;
  color: #000;
  font-family: Oswald, sans-serif;
  padding: 0;
  margin-top: 105px 15px;
  margin-bottom: 0;
}

.div5 h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
}

.pict-grid {
  display: flex;
  padding: 15px 15px 10px;
  margin: 0;
  justify-content: space-between;
}

.grids-gap1 {
  flex-basis: 48.1%;
  padding: 0;
  object-fit: contain;
}

.grids-gap2 {
  flex-basis: 48.1%;
}

.cell1 {
  margin: 0 0 12px;
}

.img-reset {
  width: 100%;
  height: auto;
}

.div6followme {
  background-color: #fff;
  color: #000;
  font-family: Oswald, sans-serif;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.div6followme h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
}

.div6followme.icon a {
  text-decoration: none;
  color: #000;
}

.icon {
  padding: 10px;
}

.icon ion-icon:hover {
  opacity: 0.6;
}

.div7form {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin-top: 40px;
  height: 245px;
}

.div7form h1 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
}

.div7form p {
  font-family: "Open Sans", serif;
  padding: 0 15px;
  width: 100%;
  margin: 15px 0;
}

.form {
  padding: 0 15px;
}

.form input {
  padding: 10px;
  width: 100%;
  font-size: 15px;
}

.form h2 button {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  margin-top: 15px;
  font-size: 15px;
  font-family: "Open sans", serif;
  border: lightgray;
  cursor: pointer;
}

.form button:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 768px) {
  .runway-box,
  .blackhat-box,
  .girlhat-box {
    height: 70vh;
  }

  .div4 {
    /* margin: 90px 0 90px; */
    height: 100px;
  }

  .content1 {
    margin-bottom: 2%;
  }

  .div4content {
    display: none;
  }

  .div4content1 {
    row-gap: 2%;
    display: block;
  }

  .avatar-desc-bgblack {
    font-family: "open Sans", sans-serif;
  }

  .div3 h1 {
    font-family: "open Sans", sans-serif;
  }

  /* .container {
    margin: 15px auto;
  } */

  .hide {
    display: none;
  }

  hr {
    display: none;
  }

  div.img-reset {
    width: 100%;
    height: auto;
  }

  .pic-commented {
    width: 100%;
    height: 331.1px;
    overflow-block: none;
    margin: auto;
  }

  .pict-title {
    font-size: 31px;
    margin: 10px 0;
    font-weight: 400;
  }

  .btn {
    font-size: 15px;
    padding: 9px 16px;
    font-weight: 401;
    background: rgba(255 255 255 / 60%);
  }

  .pict-title-desc {
    display: none;
  }

  .pict-desc {
    margin: 0 18px;
  }

  .title-head {
    font-size: 36px;
  }

  .title-desc {
    font-size: 15px;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .socialnw {
    display: none;
  }

  /* section 2 */
  .container {
    display: block;
  }

  .girlhat-box {
    height: 42%;
  }

  .girlhat-box,
  .blackhat-box,
  .runway-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .runway-p,
  .blackhat-box,
  .girlhat-box p {
    text-align: justify;
  }

  .girlhat-img,
  .blackhat-img {
    width: 100%;
  }

  .girlhat-desc {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .girlhat-desc span {
    display: flex;
  }

  .blackhat-box {
    height: 28%;
  }

  .runway-box {
    height: 18%;
    margin-bottom: 4%;
  }

  .runway-desc {
    display: flex;
    gap: 3px;
  }

  .hide1 {
    display: block;
  }

  .hide-desc {
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }

  .hide-desc h3 {
    margin: 10px 0;
    font-size: 20px;
    margin-bottom: 0;
  }

  .gest-btn3,
  .gest-btn {
    display: flex;
    gap: 10%;
    width: 100%;
  }

  .hide.hide1 {
    width: 100%;
  }

  .replie-btn3,
  .replie-btn2,
  .replie-btn {
    padding: 10px 10px;
    margin-bottom: 0;
    width: 32vw;
    margin-left: 2px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn {
    padding: 10px;
    margin-bottom: 0;
    width: 20vw;
    border: 1px solid #ccc !important;
  }

  .like-btn3,
  .like-btn2,
  .like-btn span {
    font-weight: 500;
    font-size: 15px;
    margin-left: 4px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn i {
    font-size: 15px;
  }

  .col2 {
    margin: 0 0 0;
    padding: 0 20px;
    width: 100%;
  }

  .div1-img img {
    height: 165px;
  }

  .subdiv21-desc p,
  .subdiv22-desc p,
  .subdiv23-desc p,
  .subdiv24-desc p {
    font-family: "Open sans";
  }

  .subdiv21 img,
  .subdiv22 img,
  .subdiv23 img,
  .subdiv24 img {
    height: 56px;
    margin: 0 15px 0;
  }

  .div4content3,
  .div4content,
  .div4content1,
  .div4content2 {
    display: none;
  }

  .div4content4 {
    display: flex;
    flex-direction: column;
    height: 166px;
  }

  .div4 {
    height: 200px;
    margin-bottom: 70px;
  }

  .div4 h1 {
    font-size: 20px;
    font-weight: 400;
    height: 66px;
  }

  .rpxlabel {
    background-color: #f1f1f1;
    padding: 0 6px;
    font-size: 12px;
  }

  .fashion {
    background-color: black;
    color: #fff;
    margin-left: 0;
    padding: 0;
    font-size: 15px;
  }

  .img-reset {
    width: 124px;
    /* height: 84px; */
  }

  .ico {
    font-size: 23px;
  }

  .div7form {
    height: 260px;
    margin: 40px 0 20px;
  }

  .div5 h1,
  .div6followment h1,
  .div7form h1 {
    font-weight: 500;
    font-size: 20px;
  }

  footer {
    height: 179px;
  }

  .title b {
    font-family: Oswald, sans-serif;
    font-size: 48px;
  }
}

@media screen and (max-width: 375px) {
  .socialnw {
    display: none;
  }

  .title b {
    font-family: Oswald, sans-serif;
    font-size: 48px;
  }

  /* section 2 */
  .container {
    display: block;
  }

  .girlhat-box {
    height: 42%;
  }

  .girlhat-box,
  .blackhat-box,
  .runway-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .runway-p,
  .blackhat-box,
  .girlhat-box p {
    text-align: justify;
  }

  .girlhat-img,
  .blackhat-img {
    width: 100%;
  }

  .girlhat-desc {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .girlhat-desc span {
    display: flex;
  }

  .blackhat-box {
    height: 28%;
  }

  .runway-box {
    height: 18%;
    margin-bottom: 4%;
  }

  .runway-desc {
    display: flex;
    gap: 3px;
  }

  .hide1 {
    display: block;
  }

  .hide-desc {
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }

  .hide-desc h3 {
    margin: 10px 0;
    font-size: 20px;
    margin-bottom: 0;
  }

  .gest-btn3,
  .gest-btn {
    display: flex;
    gap: 10%;
    width: 100%;
  }

  .hide.hide1 {
    width: 100%;
  }

  .replie-btn3,
  .replie-btn2,
  .replie-btn {
    padding: 10px 10px;
    margin-bottom: 0;
    width: 32vw;
    margin-left: 2px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn {
    padding: 10px;
    margin-bottom: 0;
    width: 20vw;
    border: 1px solid #ccc !important;
  }

  .like-btn3,
  .like-btn2,
  .like-btn span {
    font-weight: 500;
    font-size: 15px;
    margin-left: 4px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn i {
    font-size: 15px;
  }

  .col2 {
    margin: 0 0 0;
    padding: 0 20px;
    width: 100%;
  }

  .div1-img img {
    height: 165px;
  }

  .subdiv21-desc p,
  .subdiv22-desc p,
  .subdiv23-desc p,
  .subdiv24-desc p {
    font-family: "Open sans";
  }

  .subdiv21 img,
  .subdiv22 img,
  .subdiv23 img,
  .subdiv24 img {
    height: 56px;
    margin: 0 15px 0;
  }
  .div4content4,
  .div4content,
  .div4content1,
  .div4content2 {
    display: none;
  }

  .div4 {
    height: 200px;
  }

  .div4 h1 {
    font-size: 20px;
    font-weight: 400;
    height: 66px;
  }

  .div4content3 {
    display: flex;
    padding: 6rem 16px 6.3rem;
    flex-direction: column;
  }

  .rpxlabel {
    background-color: #f1f1f1;
    padding: 0 6px;
    font-size: 12px;
  }

  .fashion {
    background-color: black;
    color: #fff;
    margin-left: 0;
    padding: 0;
    font-size: 15px;
  }

  .img-reset {
    width: 124px;
    /* height: 84px; */
  }

  .ico {
    font-size: 23px;
  }

  .div7form {
    height: 260px;
    margin: 40px 0 20px;
  }

  .div5 h1,
  .div6followment h1,
  .div7form h1 {
    font-weight: 500;
    font-size: 20px;
  }

  footer {
    height: 179px;
  }
}

@media screen and (max-width: 320px) {
  /* section 1 */
  .socialnw {
    display: none;
  }

  .title b {
    font-family: Oswald, sans-serif;
    font-size: 48px;
  }

  .title-head {
    font-weight: bold;
    font-size: 48px;
    width: 100%;
    margin: 0 20px 0 0;
  }

  /* section 2 */
  .container {
    display: block;
  }
  /* col2 */

  .col2 {
    margin: 0;
    padding: 0 27px;
    width: 100%;
  }

  .div4 {
    height: 300px;
    margin: 90px 0 40px;
  }

  .div4 h1 {
    font-size: 20px;
    font-weight: 400;
    height: 66px;
  }

  .div4content4,
  .div4content,
  .div4content3,  .div4content1 {
    display: none;
  }

  .div4content2 {
    display: flex;
    padding: 6.8rem 16px 7.5rem;
    flex-direction: column;
    height: 210px;
  }

  .content1 {
    display: block;
    font-size: 11px;
    margin: 2px;
    width: fit-content;
    font-family: "Open Sans", sans-serif;
  }

  .rpxlabel {
    background-color: #f1f1f1;
    padding: 0 8px;
    font-size: 12px;
  }

  .fashion {
    background-color: black;
    color: #fff;
    margin-left: 0;
    padding: 0;
    font-size: 15px;
  }

  .img-reset {
    height: 69px;
    width: 103px;
  }

  .div5 {
    margin-top: 0;
  }
  /* col1 */

  .col1 {
    margin: 16px 0 0;
    padding: 12px 27px 3px;
  }

  hr {
    display: block;
    border-top: 1px solid #eee;
    margin: 20px 0;
  }

  .gest-btn {
    margin-bottom: 15%;
  }

  .girlhat-box {
    height: 42%;
  }

  .girlhat-box,
  .blackhat-box,
  .runway-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .runway,
  .blackhat-box,
  .girlhat-box p {
    text-align: justify;
    width: 206px;
  }

  .runway-p {
    text-align: justify;
  }

  .girlhat-img,
  .blackhat-img {
    width: 206px;
  }

  .girlhat-desc {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .girlhat-desc span {
    display: flex;
  }

  .blackhat-box {
    height: 28%;
    width: 238px;
  }

  .runway-box {
    height: 18%;
    margin-bottom: 4%;
  }

  .runway-desc {
    display: flex;
    gap: 3px;
  }

  .hide1 {
    display: block;
  }

  .hide-desc {
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }

  .hide-desc h3 {
    margin: 10px 0;
    font-size: 20px;
    margin-bottom: 0;
  }

  .replie-btn3,
  .replie-btn2,
  .replie-btn {
    padding: 10px 5px;
    margin-bottom: 0;
    width: 35vw;
    margin-left: 2px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn {
    padding: 10px;
    margin-bottom: 0;
    width: 30vw;
  }

  .like-btn3,
  .like-btn2,
  .like-btn span {
    font-weight: 500;
    font-size: 15px;
    margin-left: 4px;
  }

  .like-btn3,
  .like-btn2,
  .like-btn i {
    font-size: 15px;
  }

  .div1 img {
    height: 136px;
  }

  .avatar-desc-bgblack h4 {
    margin-bottom: 15px;
  }

  .avatar-desc-bgblack p {
    line-height: 1.5rem;
  }

  .subdiv21-desc p,
  .subdiv22-desc p,
  .subdiv23-desc p,
  .subdiv24-desc p {
    font-family: "Open sans";
  }

  .subdiv21 img,
  .subdiv22 img,
  .subdiv23 img,
  .subdiv24 img {
    height: 50px;
    margin: 0 15px 0;
  }

  .div7form {
    height: 260px;
    margin: 40px 0 20px;
  }

  .div5 h1,
  .div6followment h1,
  .div7form h1 {
    font-weight: 500;
    font-size: 20px;
  }
}

/* @media screen and (max-width: 990px) {
  div.container {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    background-color: aqua;
  }

  div.title {
    width: 100%;
    text-align: center;
  }

  div.socialnw {
    width: auto;
    flex-wrap: nowrap;
    overflow-x: none;
    height: 38.5px;
    margin: 0 5px 0 0;
  }

  div.pic-commented {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 0 5px 0 0;
  }

  div.col2 {
    flex-basis: 100%;
    margin: 0 10px;
  }

  div.title-head {
    margin: 10px 0;
    font-size: 48px;
  }

  div.title-desc {
    font-weight: bold;
  }

  footer {
    width: 100%;
    margin: 0 5px 0 0;
  }

  div.runway-desc,
  div.blackhat-desc,
  div.girlhat-desc {
    margin: 10px 0;
  }

  div.div1 img {
    width: 100%;
    height: 374px;
    margin: 0;
  }

  div.subdiv21,
  div.subdiv22,
  div.subdiv23,
  div.subdiv24 {
    padding: 9px;
  }

  div.div6followme {
    margin-top: 40px;
    margin-bottom: 0;
  }

  div.div7form {
    margin-bottom: 20px;
  }

  div.form input {
    border: 1px solid lightgray;
  }

  div.div5 {
    object-fit: contain;
  }

  div.div1-img img {
    width: 100%;
  }

  div.hide h3 {
    margin-left: 0;
  }

  div.hide h4 {
    margin-left: 0;
  }
} */
